{% extends 'base.html'%}
{% block content%}

  <div class="card text-center">
     <div class="card-body">
      <h1>Welcome to Pollster</h1>
         <p>This is an example of django polling app</p>
         <a class="btn btn-dark" href="{% url 'polls:index' %}">View available Polls</a>

     </div>
  </div>




{%endblock%}