<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pollster {% block title %} {% endblock %}</title>
</head>
<body>
{% include 'partials/_navbar.html' %}
   <div class="container">
       <div class = 'row'>
           <div class="col-md-6 m-auto">
               {% block content %} {% endblock %}
           </div>
       </div>
   </div>
</body>
</html>